* {
    box-sizing: border-box;

  }

body{
    color:#444349;
    background:url("https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-background.png") repeat center;
}

/* HEADER SECTION*/

  .header-background{
    background:url("https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-cover.jpg") no-repeat 70% center/cover;
    width:100%;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
  }

  .header-card-container{
    width:100%;
    background-color:hsla(100,0%,0%,.6);
    text-align:center;
    padding:1rem;
    border-radius:5px;
  }

  .header-card-container h1, .date{
    color:hsla(0,0%,100%,.9);
    font-family: 'Libre Baskerville', serif;
  }

  .header-card-container h1{
    font-size:1.2rem;
    letter-spacing:0.19rem;
  }

  .line{
    border-bottom:1px solid #fff;
    width:13rem;
    margin:0 auto;
    padding:0.4rem;
  }

  .header-card-container h2{
    font-family: 'Great Vibes', cursive;
    font-size:3rem;
    color:#d2ba87;
    padding:1rem;
  }

  .date{
    padding:1rem;
    font-size:1.2rem;
    letter-spacing:3px;
  }

  .date::before, .date::after{
    display:inline-block;
    content:"";
    background-color:#fff;
    height:1px;
    width:1.5rem;
    vertical-align:middle;
    margin:0.5rem;
  }

@media only screen and (min-width:850px){
    .header-card-container{
        width:50%;
        padding:2rem;
    }
  }

@media only screen and (min-width:850px){
  .header-card-container h1{
    text-transform: uppercase;
    font-size:1.2rem;
  }
}

@media only screen and (min-width:850px){
  .header-card-container h2{
    font-size:7rem;
    padding:2rem;
  }
}

/* LOCATIONS SECTION */

.locations-background{
    width:100%;
}

.locations-background h3{
    font-family: 'Great Vibes', cursive;
    font-size:3rem;
    text-align:center;
    padding:2.8rem 0 4rem 0;
}

.locations-container{
    display:flex;
    flex-direction:column;
    flex-wrap:nowrap;
    align-items:center;
    justify-content:center;
    text-align:center;
}

.ceremony img, .photos img, .party img{
    width:9.4rem;
    padding:1rem;
    margin-bottom:1rem;
}

.ceremony h2, .photos h2, .party h2{
    letter-spacing:0.07rem;
    font-size:1.4rem;
    font-weight:bold;
    margin-bottom:1rem;
    font-family: 'Libre Baskerville', serif;
}

.ceremony p, .photos p, .party p{
    font-family: 'Mulish', sans-serif;
    font-size:1.2rem;
    line-height:1.6;
}

.locations-line{
    border-bottom:3px solid #000;
    width:6rem;
    margin:0 auto;
    margin-top:1.5rem;
    margin-bottom:1.5rem;
}

@media only screen and (min-width:850px){
    .locations-container{
        flex-direction:row;
        flex-wrap:nowrap;
        justify-content:space-between;
        margin:0 15% 0 15%;
    }
  }

  @media only screen and (min-width:850px){
    .locations-line{
        visibility:hidden;
    }
  }

  /* PROGRAM SECTION */

.program-container{
    background-color:hsla(100,0%,0%,.6);
    width:100%;
    color:#d2ba87;
    padding:0 0 2rem 0;
  }

.program-container h3{
    font-family: 'Great Vibes', cursive;
    font-size:3rem;
    text-align:center;
    padding:2.5rem 0 0.9rem 0;
  }

.program-card{
    display:flex;
    justify-content:center;
    width:88%;
    display:flex;
    justify-content:center;
    font-family: 'Mulish', sans-serif;
    font-size:1.13rem;
    line-height:1.5;
}

.program-card p{
    padding:1rem 0 1rem 0;
    font-style:italic;
}

.program-card ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
}

/* GIFT SECTION */

.gifts-container{
    text-align:center;
    width:100%;
    padding:0 0 2rem 0;
}

.gifts-container h3{
    font-family: 'Great Vibes', cursive;
    font-size:3rem;
    text-align:center;
    padding:2.5rem 0 2rem 0;
}

.gifts-container img{
    width:9.4rem;
    padding:1rem;
    margin-bottom:1rem;
}

.gifts-container p{
    font-family: 'Libre Baskerville', serif;
    font-size:1.13rem;
}

/*FAQ SECTION */

.faq-container{
    background-color:hsla(100,0%,0%,.6);;
    width:100%;
    color:#d2ba87;
    padding:0 0 1rem 0;
}

.faq-container h2{
    font-family: 'Great Vibes', cursive;
    font-size:3rem;
    text-align:center;
    padding:2.5rem 0 2rem 0;
}

.para-container{
    display:block;
    font-family: 'Mulish', sans-serif;
    font-size:1.13rem;
    line-height:1.6;
}

.para{
    padding: 0 0.94rem 0 0.94rem;
    width:100%;
}

.para h3{
    font-family: 'Libre Baskerville', serif;
    margin-bottom:1rem;
    text-align:center;
    font-size:1.5rem;
}

.para h4{
    font-weight:bold;
    margin-bottom:1rem;
}

.para p{
    margin-bottom:1.5rem;
}

.faq-line{
    border-bottom:3px solid #d2ba87;
    width:12.5rem;
    margin:0 auto;
    margin-top:1.5rem;
    margin-bottom:1rem;
}

.para-container a:link{
    text-decoration:none;
    color:#bd806e;
    transition:0.2s ease-in-out;
}

.para-container a:visited{
    text-decoration:none;
    color:#bd806e;
}

.para-container a:hover{
    color:#eda087;
}

@media only screen and (min-width:850px){
    .para-container{
    margin-left:6rem;
    }
  }

@media only screen and (min-width:850px){
    .para{
    display:inline-block;
    width:28%;
    vertical-align:top;
    margin-right:5%;
    margin-top:1.5rem;
    }
  }

@media only screen and (min-width:850px){
    .faq-line{
    display:none;
    }
  }

@media only screen and (min-width:850px){
    .para h3{
    text-align:left;
    }
  }

/*CONTACT SECTION */

.contact-container{
    text-align:center;
    background:url("https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-background.png") repeat;
    width:100%;
    padding:0 0 2rem 0;
}

.contact-container h3{
    font-family: 'Great Vibes', cursive;
    font-size:3rem;
    text-align:center;
    padding:2.5rem 0 2rem 0;
}

.contact-container p{
    font-family: 'Libre Baskerville', serif;
    font-size:1.13rem;
    line-height:2.5;
}

.contact-container a:link{
    text-decoration:none;
    color:#bd806e;
    transition:0.2s ease-in-out;
}

.contact-container a:visited{
    text-decoration:none;
    color:#bd806e;
}

.contact-container a:hover{
    color:#eda087;
}

/*FOOTER SECTION */

.footer-wrapper{
    padding:2.5rem;
    text-align:center;
    color:#fff;
    background-color:#606060;
    font-family: 'Mulish', sans-serif;
    font-size:14px;
}

.footer-wrapper a:link{
    text-decoration:none;
    color:#bd806e;
    transition:0.2s ease-in-out;
}

.footer-wrapper a:visited{
    text-decoration:none;
    color:#bd806e;
}

.footer-wrapper a:hover{
    color:#eda087;
}